.timeline_um-container {
    display: inline-block;
}

.timeline_um-container .middle-line {
    height: 4px;
    position: relative;
    top: 10px;
}

.timeline_um-horizontal {
    margin: 0 !important;
    padding: 10px !important;
    height: 600px;
    overflow-x: auto;
    overflow-y: hidden;
}

.timeline_um-horizontal .timeline_um-item {
    display: inline-block;
    margin: 0;
    padding-bottom: 0;
    position: relative;
    vertical-align: top;
    width: 400px;
    z-index: 100;
}

.timeline_um-horizontal .timeline_um-post {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(174, 173, 173);
    position: relative;
    margin: 20px;
    border-radius: 4px;
}

.timeline_um-horizontal .timeline_um-item .timeline_um-arrow {
    background: none repeat scroll 0 0 rgb(221, 221, 221);
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
}

.timeline_um-horizontal .timeline_um-arrow {
    background: #ffffff;
    border: 1px solid #a3a3a3;
}

.timeline_um-horizontal .timeline_um-arrow:after,
.timeline_um-horizontal .timeline_um-arrow:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.timeline_um-horizontal .timeline_um-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 8px;
    margin-top: -8px;
}

.timeline_um-horizontal .timeline_um-arrow:before {
    border-color: rgba(163, 163, 163, 0);
    border-right-color: #a3a3a3;
    border-width: 9px;
    margin-top: -9px;
}

.timeline_um-horizontal .timeline_um-button {
    background: none repeat scroll 0 0 rgb(40, 200, 168);
    border-radius: 50%;
    height: 15px;
    position: absolute;
    top: -10px;
    width: 15px;
}

.timeline_um-horizontal .timeline_um-button {
    left: calc(50% + 10px - 15px);
}

.timeline_um-container .load-more {
    clear: both;
    display: block;
    text-align: center;
}

.timeline_um-container .loading span {
    background: url("images/ajax-loader.gif") no-repeat scroll 5px 13px rgb(255, 89, 16) !important;
}

.timeline_um-container .load-more span {
    background: none repeat scroll 0 0 rgb(255, 89, 16);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    margin-top: 16px;
    padding: 7px 25px;
    position: relative;
    text-align: center !important;
    z-index: 57;
}

.timeline_um-horizontal .timeline_um-thumb {
    overflow: hidden;
    padding: 10px;
}

.timeline_um-horizontal .timeline_um-thumb img {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}

.timeline_um-horizontal .timeline_um-title {
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.timeline_um-horizontal .timeline_um-meta {
    font-size: 12px;
    padding: 0 10px 10px;
    text-align: left;
}

.timeline_um-horizontal .timeline_um-content {
    padding: 0 10px;
    text-align: left;
}
